@import '../../../utilities//scss-exports/variables';

.login-left {
  height: 600px;
  width: 500px;
  background-image: url('../../../static/images/login-img.jpg');
  background-position: center;
  background-color: #F4F4F4;
}

.login-container {
  justify-items: center;
  margin: 5% auto;
  max-width: 80%;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.10);
  font-size: 1em;

  .login-intro-container {
    margin-bottom: 1.5em;
  }

  .login-right {
    padding: 2em;
  }

  input::placeholder {
    font-size: .8em;
  }

    h2 {
      font-weight: bold;
    }
}

.login-container {
  .form-group {
    display: block;
    margin-bottom: 2em;
  }
}

.login-intro:first-child, .login-container {
   .form-label {
    font-weight: bold;
   }
}

@media only screen and (max-width: $ipad) {
  html {
    background-color: #fff;
  }

  .login-container {
    width: 90%;
    box-shadow: none;

    .login-intro-container {
      margin-bottom: 10%;
    }

    .login-left {
      display: none;
    }

    .form-button {
      width: 100%;
    }
  }
}

.cta {
  margin-bottom: -.5em;
  margin-top: .8em;
  font-size: .8em;
}

.cta a {
  text-decoration: none;
  color: $ah-primary;
  font-size: .8em;
}

.cta a:hover {
  border-bottom: 1px solid $ah-grey;
  padding-bottom: 0.2em;
}
