@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import '../../../utilities/_variables.scss';

* {
  font-family: 'Montserrat', sans-serif;
}

.grey-background {
  background-color: #F4F4F4;
  height: 100vh;
  width: 100vw;
  padding-top: 5%;

}
<<<<<<< HEAD:src/components/container/styles/Signup.scss

.signup-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  // margin: 5% auto;
=======
.mobile-view {
  display: none;
>>>>>>> small fixes:src/components/container/styles/signup.scss
}

.signup-left {
  height: 600px;
  width: 500px;
  background-image: url('../../../static/images/signup_reading.jpg');
  background-position: center;
  background-color: #F4F4F4;
}

.signup-container {
  justify-items: center;
  margin: 5% auto;
  max-width: 80%;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.10);
  font-size: 1em;

  .signup-right {
    padding: 2em;
  }

  input::placeholder {
    font-size: .8em;
  }

  .signup-intro {
    text-align: center;
  }

  h2 {
    font-weight: bold;
  }
  
  .form-group {
    display: block;
    margin-bottom: 2em;
  }

  .signup-intro-container {
    margin-bottom: 1em;
  }
}

.signup-intro:first-child, .signup-container {
  .form-label {
    font-weight: bold;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    box-shadow: none;
  }
  .mobile-view {
    display: block;
    text-align: center;
  }

  .desktop-view {
    display: none;
  }

  .signup-container {
    width: 80%;
    box-shadow: none;

    .signup-intro-container {
      margin-bottom: 10%;
    }

    .signup-left {
      display: none;
    }

    button {
      width: 100%;
    }
  }
}
