.nav_bar {
    background: #fff;
    border-bottom: 1px solid #ccc;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    padding-left: 12px;
  }
  .logo-size{
    height: 50px
  }
  .logo-position{
    position:absolute;
    left:5px;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  @media(max-width:768px){
    .logo-position {
      left: 50%;
      top: 35px;
  }
  }
  @media(max-width:465px){
    .logo-position{
      left: 25%;
    }
    .logo-size{
      height: 40px
    }
    
  }

  
  .topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .global_toolbar {
    ul {
      margin: 0;
      padding: 0 20px 0 0;
      li {
        list-style: none;
        margin: 0;
        padding: 0 0 0 5px;
        display: inline-block;
        position: relative;
        a {
          vertical-align: middle;
        }
      }
    }
    float: right;
  }
  
  input {
    margin: 0;
    padding: 5px 20px 5px 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #fff;
    font-size: 14px;
    text-align: left;
    width: 0;
    transition: 0.1s border linear, 0.25s width linear;
    &:focus {
      border: 1px solid #fff;
      outline: none;
      width: 200px;
      transition: 0.1s border linear, 0.25s width linear;
    }
  }
  
  @media (max-width: 612px) {
    .search-bar {
      display: none;
    }
  }